/* amandine light: 
font-family: "amandine", sans-serif;
font-weight: 300;
font-style: normal;

amandine light italic: 
font-family: "amandine", sans-serif;
font-weight: 300;
font-style: italic;

amandine regular:
font-family: "amandine", sans-serif;
font-weight: 400;
font-style: normal;

amandine italic:
font-family: "amandine", sans-serif;
font-weight: 400;
font-style: italic;

amandine medium:
font-family: "amandine", sans-serif;
font-weight: 500;
font-style: normal;

amandine medium italic:
font-family: "amandine", sans-serif;
font-weight: 500;
font-style: italic;

amandine bold:
font-family: "amandine", sans-serif;
font-weight: 700;
font-style: normal;

amandine bold italic:
font-family: "amandine", sans-serif;
font-weight: 700;
font-style: italic; */

@font-face {
  font-family: "raleway";
  src: url("../fonts/Raleway-VariableFont_wght.woff2") format("woff2");
}
