/* FOOTER */
.footer-content {
  background: var(--color-footer-bg);
  border-radius: 20px;
  padding: 30px 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
footer.outline {
  margin-top: 40px;
}
.footer-info {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.footer-info .logo {
  margin-bottom: 10px;
}
.social-links {
  display: flex;
  gap: 20px;
  align-items: center;
  list-style: none;
}
.social-links li {
  display: flex;
  align-items: center;
}
.social-links li:not(:last-child)::after {
  content: "";
  width: 6px;
  height: 2.5em;
  background: var(--color-footer-outline);
  border-radius: 999px;
  margin-left: 20px;
}
.social-links a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: var(--color-text);
  transition: color 0.3s ease;
}
.social-links a svg {
  width: 50px;
  height: 50px;
}
.social-links a:hover {
  color: var(--color-footer-hover);
}
.contact {
  display: flex;
  align-items: center;
  gap: 16px;
}
.contact-label {
  font-style: var(--font-style-regular);
  font-family: var(--font-family-text);
  font-weight: var(--font-weight-bold);
  font-size: var(--size-h4);
  color: var(--color-text);
  margin-right: 2em;
}
.contact-links {
  display: flex;
  align-items: center;
  gap: 20px;
}
.contact-links a {
  color: var(--color-text);
  text-decoration: none;
  font-weight: var(--font-weight-bold);
  font-family: var(--font-family-text);
  font-size: var(--size-h4);
  display: flex;
  align-items: center;
  position: relative;
}
.contact-links a:hover {
  color: var(--color-footer-hover);
}

.contact-links a:not(:last-child)::after {
  content: "";
  width: 6px;
  height: 1.5em;
  background: var(--color-footer-outline);
  border-radius: 999px;
  margin-left: 20px;
  align-self: center;
}
@media (width < 800px) {
  .footer-content {
    flex-direction: column;
    gap: 30px;
    padding: 25px 30px;
    text-align: center;
  }
  .contact {
    flex-direction: column;
    gap: 10px;
  }
  .contact-label {
    margin-right: 0;
  }
  .contact-links {
    justify-content: center;
  }
  .contact-links a {
    font-size: var(--size-p);
    margin: 0 0 0 -1em;
  }
  .contact-links a:not(:last-child)::after {
    margin-left: 15px;
  }
  .social-links {
    gap: 1em;
  }
  .social-links a {
    color: var(--color-text);
  }
  .social-links li:not(:last-child)::after {
    margin-left: 15px;
  }
}
