/* FOOTER */
.footer-content {
  background: var(--color-footer-bg);
  border-radius: 20px;
  padding: 30px 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

footer.outline {
  margin-top: 40px;
}

.footer-info {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.footer-info .logo {
  font-size: 48px;
  margin-bottom: 10px;
}

.footer-info p {
  font-size: 16px;
  color: var(--color-text);
  margin: 0;
}

.social-links {
  display: flex;
  gap: 20px;
  align-items: center;
  list-style: none;
}

.social-links li {
  display: flex;
  align-items: center;
}

.social-links li:not(:last-child)::after {
  content: "";
  width: 6px;
  height: 2.5em;
  background: var(--color-footer-outline);
  border-radius: 999px;
  margin-left: 20px;
}

.social-links a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: var(--color-text);
  transition: color 0.3s ease;
}

.social-links a svg {
  width: 50px;
  height: 50px;
}

.social-links a:hover {
  color: var(--color-footer-hover);
}

@media (width < 800px) {
  .footer-content {
    flex-direction: column;
    gap: 30px;
    padding: 25px 30px;
    text-align: center;
  }

  .footer-info .logo {
    font-size: 36px;
  }

  .footer-info p {
    font-size: 14px;
  }

  .social-links {
    gap: 15px;
  }

  .social-links a {
    font-size: 32px;
  }

  .social-links li:not(:last-child)::after {
    margin-left: 15px;
  }
}
