/* HEADER */
.navbar {
  background: var(--color-header-bg);
  border-radius: 20px;
  padding: 20px 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.nav-links {
  display: flex;
  list-style: none;
  gap: 40px;
  align-items: center;
  font-weight: 600;
  font-size: 18px;
}

.nav-links li {
  display: flex;
  align-items: center;
  gap: 40px;
}

.nav-links li::before {
  content: "";
  width: 6px;
  height: 2em;
  background: var(--color-header-outline);
}

.nav-links a {
  text-decoration: none;
  color: var(--color-text);
}

.nav-links a:hover {
  color: var(--color-header-hover);
}

.burger {
  width: 30px;
  height: 20px;
  cursor: pointer;
}

.burger .line {
  display: block;
  width: 100%;
  height: 4px;
  background-color: var(--color-text);
  margin-bottom: 6px;
  transition: 0.2s linear;
}
.burger {
  display: none;
}

@media (width < 800px) {
  .nav-links {
    display: none;
  }

  .burger {
    display: block;
    background-color: transparent;
    border: 0;
    flex: 0 0 auto;
    margin: 0;
  }
  .burger:hover .line {
    background-color: var(--color-header-hover);
  }

  nav.active .nav-links {
    display: block;
    background-color: var(--color-header-bg);
    border-radius: 10px;
    position: absolute;
    top: 8.5rem;
    right: 0em;
    width: 150px;
    z-index: 3;
  }
  nav.active .nav-links li {
    margin: 40px 20px;
    text-align: left;
  }
  nav.active .nav-links li:first-child {
    padding-bottom: 40px;
    border-bottom: 3px solid var(--color-header-outline);
    width: 30%;
  }

  .nav-links li::before {
    display: none;
  }

  .burger.active .line:nth-child(1) {
    transform: rotate(45deg) translate(5px, 9px);
    transition: 0.2s linear;
  }
  .burger.active .line:nth-child(2) {
    opacity: 0;
    transition: 0.15s linear;
  }
  .burger.active .line:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -9px);
    transition: 0.2s linear;
  }
}
