main section:nth-of-type(1) img {
  aspect-ratio: 2 / 1;
  object-fit: cover;
  object-position: top;
}
main section:nth-of-type(1) {
  padding: 1em 4em 2em 4em;
}
main section:nth-of-type(1) h3 {
  padding-bottom: 1em;
}

main section:nth-of-type(4) {
  border-radius: 40px 40px 40px 40px;
  z-index: 9;
}
main section:nth-of-type(5) {
  z-index: 6;
}
main section:nth-of-type(6) {
  z-index: 5;
}

main section:nth-last-of-type(2) {
  z-index: 7;
}
main section:nth-last-of-type(3) {
  border-radius: 40px 40px 40px 40px;
  z-index: 8;
}

.section.normal {
  padding: 2em;
}
.section.normal:not(:first-of-type) h3 {
  margin: 3em 0 2em 0;
}
.section.normal h4 {
  margin-bottom: 1em;
}
p {
  line-height: 1.25;
}

/* RESEARCH SEKTION */
.research {
  display: flex;
  flex-direction: column;
  gap: 2em;
  margin-bottom: 7em;
}

.research img {
  max-width: 60%;
  justify-self: center;
  align-self: center;
  margin-bottom: -5vw;
}
.research p {
  margin-top: 1.5em;
}

.research:first-of-type {
  margin-bottom: 5em;
  margin-top: 3em;
}

/* HERO SEKTION */
.hero {
  display: flex;
  flex-direction: column;
  gap: 2em;
  margin-bottom: 3em;
  margin-top: 3em;
}

.hero img {
  max-width: 60%;
  justify-self: center;
  align-self: center;
  margin-bottom: -5vw;
}
.hero p {
  margin-top: 1.5em;
}

/* HI-FI SEKTION */
.hi-fi {
  margin-top: 5em;
  display: grid;
}
.hi-fi p {
  margin-top: 1em;
  margin-bottom: 1em;
}
.hi-fi > div:first-child {
  display: flex;
  flex-direction: column;
}
.hi-fi > div:first-child a {
  margin-top: 1em;
  width: fit-content;
  align-self: center;
}
.hi-fi img {
  max-width: 75%;
  justify-self: center;
  margin: 2em 0;
}

/* KODE SEKTION */
.kode {
  margin-top: 5em;
  display: grid;
}
.kode p {
  margin-top: 1em;
  margin-bottom: 1em;
}
.kode > div:first-child {
  display: flex;
  flex-direction: column;
}
.kode > div:first-child a {
  margin-top: 1em;
  width: fit-content;
  align-self: center;
}
.kode img {
  max-width: 75%;
  justify-self: center;
  margin: 2em 0;
}

@media (width > 800px) {
  main section:nth-of-type(1) {
    padding: 1em 8em 2em 8em;
  }
  main section:nth-of-type(1) img {
    aspect-ratio: 3.5 / 1;
  }

  /* RESEARCH SEKTION */
  .research {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .research img {
    max-width: 80%;
    margin-bottom: 0;
  }
  .research div {
    align-self: center;
  }

  /* HERO SEKTION */
  .hero {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 10em;
  }
  .hero img {
    max-width: 75%;
    margin-bottom: 0;
  }
  .hero div {
    align-self: center;
  }

  /* HI-FI SEKTION */
  .hi-fi {
    grid-template-columns: 1fr 1fr;
    align-items: center;
  }
  .hi-fi img {
    max-width: 50%;
  }

  /* KODE SEKTION */
  .kode {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .kode p {
    max-width: 40vw;
    margin-right: 2em;
  }
  .kode > img {
    max-width: 75%;
    margin-top: 5em;
  }
}
